{% extends 'base.html.twig' %}

{% block title %}Welcome to movies!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Welcome to movies</h1>

    <ul>
        {% for movie in movies%}
        <li> <a href="/movie/{{ movie.id }}" class="">{{ movie.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
