{% extends 'base.html.twig' %}

{% block title %}Movies!{% endblock %}

{% block body %}

<div class="container">
    <ul>
        {% for movie in movies%}
        <li> <a href="/movie/{{ movie.id }}" class="">{{ movie.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
