{% extends 'base.html.twig' %}

{% block title %}{{ movie.name }}{% endblock %}

{% block body %}

<div class="container">
    <h3>{{ movie.name }}</h3>
    <div class="row">
    {% for theatre in movie.getTheatre() %}
        <div class="col-md-6">
            <div class="border p-2">
                <h5 class="text-center">            
                    {{theatre.name}} | {{theatre.getCinema().name }}
                </h5>
                <div class="d-flex flex-wrap">
                    {% for time in theatre.getTimes() %}
                        <span class="col-3 border text-center">
                            <a href="/booking/{{movie.id}}/{{theatre.id}}/{{time.id}}" class="">{{time.time}}</a>
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    {% endfor %}
    </div>

</div>
{% endblock %}