{% extends 'base.html.twig' %}

{% block title %} Booking!{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello {{ app.user.name }}!</h1>

    <p class="">Please confirm the following details before booking:</p>
    <ul>
        <li>Movie: {{movie.name}}</li>
        <li>Theatre: {{theatre.name}}</li>
        <li>Time: {{time.time}}</li>

    </ul>

    {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<h1>Book Movie</h1>

{{ form_start(bookingForm) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.surname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn btn-primary">Book</button>
{{ form_end(bookingForm) }}

</div>
{% endblock %}
